<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario</title>
    <link href="bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Agregar Localidad</h1>
        <form>
            <div class="mb-3 col-sm-4">
                <label for="nombreLocalidad">Nombre de la localidad</label>
                <input type="text" class="form-control" id="nombreLocalidad" placeholder="Ingresa el nombre de la localidad">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <footer class="mt-5">
            <p class="text-center text-muted">Desarrollado por Ivanna Peña</p>
        </footer>
    </div>
</body>
</html>
